.box {
  width: 100px;
  height: 120px;
  background-color: brown;
  margin-bottom: 20px;
}

.box1 {
  transform: translateX(100px);
}

.box2 {
  transform: translate(50px, -20px);
  /* x축은 오른쪽으로 갈수록 value가 커짐. y축은 내려갈수록 value가 커짐. */
}

.box3 {
  transform: scale(1.2);
}

.box4 {
  transform: rotate(45deg);
}

.box5 {
  transform: translate(100px, 100px) scale(2) rotate(45deg);
}
