.box {
  width: 100px;
  height: 100px;
  margin: 20px;
  background-color: pink;
}

.box1:hover {
  background-color: blueviolet;
  /* transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: linear; */
  transition: background-color 300ms linear;
}

.box2:hover {
  border-radius: 50%;
  background-color: cornflowerblue;
  transition: all 2s ease;
}

.box3:hover {
  border-radius: 50%;
  transform: translateX(400px);
  background-color: cornflowerblue;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
