div {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  background-color: red;
}

.container {
  background-color: yellow;
  left: 20px;
  top: 20px;
  /* relative position: 원래 있어야 할 자리에서 상대적으로 옮겨 가는 것 */
  /* absolute의 경우 부모 박스중에 가장 근접한 static이 아닌( relative, absolute, fixed) 부모 박스 포지션 기준으로 움직여요.*/
  /* fixed 상자에서 벗아나서 페이지 상에서 포지션이 지정 */
  /* sticky는 원래 있어야할 자리에 있으면서 스크롤이 되더라도 원래 있던 자리에 붙어 있는 것 */
}

.box {
  background-color: blue;
  left: 20px;
  top: 20px;
}

.div1 {
  background-color: green;
  position: relative;
}

.div2 {
  background-color: black;
  position: absolute;
  top: 50px;
}
