.container {
  background-color: beige;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* 화면 크기가 작아져도 한줄에 다 랩핑 nowrap 기본값 */
  /* flex-flow: column nowrap; 이렇게 한번에 묶어서 작성 가능 */
  justify-content: space-between;
  /* 메인축 기준으로 정렬 */
  /* justify-content: flex-end; 끝에서부터 배치. space-around 박스를 둘러싸서 공간을 넣어주는 것 */
  /* space-evenly 사이 공간 똑같은 간격공간을 넣는 것 */
  /* space-between 오른쪽 왼쪽 맨끝에 상자 붙이고 사이공간은 같은 간격으로 붙이는 것 */
  align-items: baseline;
  align-content: space-between;
  /* 반대축 기준으로 정렬 */
}

.item {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.item1 {
  background-color: #ef9a9a;
}

.item2 {
  background-color: #f48fb1;
}

.item3 {
  background-color: #ce93d8;
}

.item4 {
  background-color: #b39ddb;
}

.item5 {
  background-color: #90caf9;
}

.item6 {
  background-color: #a5d6a7;
}

.item7 {
  background-color: #e6ee9c;
}

.item8 {
  background-color: #fff59d;
}

.item9 {
  background-color: #ffcc80;
}

.item10 {
  background-color: #ffab91;
}
