.container {
  padding-top: 100px;
  background-color: beige;
  height: 100vh;
  display: flex;
}

.item {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.item1 {
  background-color: #ef9a9a;
  /* flex-grow: 2;
  flex-shrink: 2; */
  /* flex-basis: 60%; */
  /* order: 2; */
  /* flex-grow, shrink 콘테이너의 사이즈가 바겼을때 아이템이 얼마나 줄어들고 커지는지 명시 */
  /* flex-basis 아이템들이 공간을 얼마나 차지해야하나? 크기 변경에 따라 */
  flex: 2 2 auto; /*grow, shrink, basis*/
  align-self: center; /*아이템 하나만 반대축 기준으로 배치할수 있음*/
}

.item2 {
  background-color: #f48fb1;
  /* flex-grow: 1;
  flex-shrink: 1; */
  /* order: 1; */
  /* flex-basis: 30%; */
}

.item3 {
  background-color: #ce93d8;
  /* flex-grow: 1;
  flex-shrink: 1; */
  /* order: 3; */
  /* flex-basis: 10%; */
}
