.outer {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  background-color: green;
}

.box {
  /* position: relative; */
  width: 100px;
  height: 100px;
  background-color: red;
}

.inner {
  width: 100%;
  height: 50%;
}

.inner1 {
  background-color: blue;
}

.inner2 {
  background-color: yellow;
}

.box1 .inner1 {
  position: relative;
  /*relative 원래 있던 자리에서 움직이는 것 */
  top: 30px;
  left: 100px;
}

.box2 .inner1 {
  position: absolute;
  /* 근접한 부모 중에 기본값이 스테틱이 아닌 부모의 기준에서 움직임 */
  /* 결국에는 부모는 box인데 기본값 static임 box의 부모는 outer인데 기본값 static임 결국에는 body를 기준으로 움직임 */
  top: 30px;
  left: 100px;
}
