.box {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.box1 {
  background-image: url("images/Korean\ Academy\ Icon.png");
  background-repeat: no-repeat;
  /* 설정된 배경 이미지의 반복 유뮤를 설정함 */
  background-position: center;
  /* center 배경화면을 중안 부분에 위치시킨다 */
  /* background-position은 반복되지 않는 배경 이미지의 상대 위치를 설정함 */
  background-size: contain;
  /* 값을 cover 로 지정하면 배경이미지의 가로, 세로 길이 모두 요소보다 크다는 조건하에 가능한 배경 이미지를 작게 조정합니다. 가로, 세로 비율은 유지됩니다. 따라서 배경 이미지의 크기는 요소의 크기보다 항상 크거나 같습니다. */
  /* contain 값을 지정하면, 배경 이미지의 가로, 세로 모두 요소보다 작다는 조건하에 가능한 크게 조정됩니다. 이미지의 가로, 세로 비율은 유지됩니다. 따라서 배경 이미지의 크기는 요소의 크기보다 항상 작거나 같습니다. */
  /* https://developer.mozilla.org/ko/docs/Web/CSS/CSS_Backgrounds_and_Borders/Resizing_background_images */
  /* 간단히 말해서 contain은 들어가게 끔 하는 것이고 cover는 요소로 배경화면 덮는다 생가해라 */
  resize: both;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/resize */
  overflow: scroll;
}

.box2 {
  background: center/cover no-repeat url("images/2.jpg");
  /* background: position/side repeat url */
}

.box3 {
  /* background: right/contain repeat url("images/3.jpg"); */
  background: center/cover no-repeat url("images/3.jpg");
  /* cover는 그림을 늘려 이미지로 최대한 배경을 채우는 것 */
}
